.add-shipment {
    padding: 0 50px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
}

.shipmentside {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.shipmentid {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9EDF2;
}

.date-side {
    display: flex;
    gap: 5px;
}

.id-side {
    color: #000849;
}

.id-side p {
    font-size: 20px;
    font-weight: 700;
}

.date-side span {
    font-weight: 800;
    color: #000;
}

.order-details {
    border: 1px solid #E9EDF2;
    border-radius: 10px;
    background-color: #fff;
    height: fit-content;
    padding: 10px 0px 0px 0px;
}
.order-details h3{
    color: #000849;
}
table thead tr th{
    background-color: #F7F9FE !important;
    color: #292D32 !important;
}
.customer-information {
    
    border: 1px solid #E9EDF2;
    border-radius: 10px;
    height: fit-content;
padding: 10px;
    background-color: #fff;
}
.customer-information h3{
    border-bottom: 1px solid #E9EDF2;
    font-weight: 800;
    color: #000849;
}
.customer-information table td{
    padding: 10px 0 !important;
}
