.login-page{
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    overflow: hidden;
}
.left-side{
    background-color: brown;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    
}

.bg-image{
position: relative;
    width: 50%;
}
.bg-blue{
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: linear-gradient(180deg, rgba(0, 8, 73, 0.632) 0%, rgba(0, 8, 73, 0.8) 100%);
}
.bg-image img{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}